@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700");

.lesson_container {
	padding: 0 1em;
}

.horizontal_container {
	width: 30em;
	overflow-x: auto;
	white-space: nowrap;
}

.progress_container {
	text-align: center;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.5%;
}

.iframe-fillContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress_button {
    line-height: 2em;
    height: 4.5em;
}

.image.hover_large:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
}

.message_box{
    position:fixed;
    z-index:100;
    background-color: #424242;
    left:20%;
    width:60%; 
    top:20%;
    padding: 20px;
}