@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,700");

.lesson_container {
	padding: 0 2em;
}

.horizontal_container {
	width: 30em;
	overflow-x: auto;
	white-space: nowrap;
}